.photoTile {
  padding: 0;
  opacity: 0;
  position: relative;
}

.photoTile img {
  display: block;
}

.photoTile:hover {
  z-index: 10;
}

.photoDetailsContainer {
  display: none;
  flex-direction: column;
  align-items: center;
  z-index: -1;
}

.photoTile:hover .photoTileContents {
  position: absolute;
  top: -8px;
  left: -8px;
  padding: 8px;
  background: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  border-radius: 2px;
}

.photoTile:hover .photoDetailsContainer {
    display: flex;
}

.photoTitle {
  font-size: 32px;
  line-height: 32px;
  text-align: center;
  font-family: 'Crimson Text', serif;
  margin-top: 16px;
}

.photoAuthor {
  text-align: center;
  margin: 8px;
}

.photoTileLoaded {
  animation: loadPhoto ease-out 0.3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; /* Keep the end result of the animation */
  transform-origin: 50% 50%;
}

@keyframes loadPhoto {
  0% {
    opacity: 0;
    transform:  translate(0px, 64px);
  }
  100% {
    opacity: 1;
    transform:  translate(0px, 0px);
  }
}